# too lazy to get my ghidra project out of there
*.gpr
*.lock
*.rep
.venv*
build
thirdparty/*
resources/custom.exe
resources/th07.exe
reccmp-user.yml
reccmp-build.yml
scripts/__pycache__/
__pycache__/
*.pyc
compile_commands.json
*.o
*.d
*.elf
EBOOT.PBP
PARAM.SFO
.build-profile-*
dist/
EBOOT.*.PBP
TH07PSP_BOOT*.LOG
/*.png
/*.ps1
/ppsspp-th07-test.ini
/.tmp-user-th07.dat
/music_bg.rgb565
